.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 70vh;
    border-radius: 20px;
    /* box-shadow: 0 0 15px 5px gray; */
    background: #72a4fe;
    position: relative;
    /* border: 1px solid white; */
}
.register > input{
    border-radius: 8px;
    border: 2px solid white;
    outline: none;
    color: blueviolet;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 50%;
    font-size: 1rem;
    /* text-transform: capitalize; */
}
  